
Flask==1.0.2
Flask-Cors==3.0.4
gcloud==0.18.3
google-api-core==1.7.0
google-auth==1.6.2
google-cloud-core==0.29.1
google-cloud-speech==0.36.3
google-cloud-storage==1.14.0
google-resumable-media==0.3.2
googleapis-common-protos==1.5.6
gunicorn==19.9.0

lib==3.0.0
grpcio==1.13.0rc3
SpeechRecognition==3.8.1
watson-developer-cloud==2.8.0
wordcloud==1.5.0
Werkzeug==0.14.1
