<title>A2N</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
  body {background-color: black;}
  h1
  {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  h3
  {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  h4
  {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  h5
  {
    color: white;
    display: flex;
    text-align: center;
  }
  a
  {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  code
  {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: black;
  }
  form
  {
    margin: 0 auto;
    color: white;

    width:200px;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;

  }
  .footer{
       position: fixed;
       text-align: center;
       bottom: 20px;
       width: 100%;
   }

  </style>
  <script>
  var audioFormat = "";
  //var input ="'text.txt', '/Users/20arjuna/Desktop/text.txt', 'a2n_audio'"
  function setMP3 ()
  {
    audioFormat = ".mp3";
    document.getElementById("format").setAttribute('accept', audioFormat)

  }
  function setWAV ()
  {
    audioFormat = ".wav";
    document.getElementById("format").setAttribute('accept', audioFormat)

  }
  function setFLAC ()
  {
    audioFormat = ".m4a";
    document.getElementById("format").setAttribute('accept', audioFormat)

  }
  function reset()
  {
    audioFormat = "";
  }
  function validateInput()
  {
    console.log('validating!!!!');
    if(audioFormat === "")
    {
      alert("Select a file type!");
      event.preventDefault();
    }
  }
  function loading()
  {
    var email = document.getElementById("email");
    console.log("email: " + email)
    if(email==null && document.getElementById("myCheck").checked == true)
    {
      alert("Enter your email");
      event.preventDefault();
    }
    else if(validateEmail(email.value)==false && document.getElementById("myCheck").checked == true)
    {
      alert("That email is not valid");
      event.preventDefault();
    }
    else
    {
      document.getElementById('bigh3').style.display='block';
      document.getElementById('bigpic').style.display='block';
      var snd = new Audio("/static/music.mp3");
      snd.loop = "true"
      snd.play();

      snd.currentTime=0;
    }


  }
  function validateEmail(email) {
    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(String(email).toLowerCase());
  }
  function displayEmail()
  {
    var checkBox = document.getElementById("myCheck");
    var email = document.getElementById("email");
    var h5 = document.getElementById("h5")
    if (checkBox.checked == true)
    {
      email.style.display = "block";
      h5.style.display = "block";
      h5.style.display = "flex";
    }
    else
    {
      email.style.display = "none";
      h5.style.display = "none";
      //h5.style.display = "flex";
    }
  }

  </script>
  <div class="container">
    <h1>Audio2Notes</h1>
      <h4>Choose your file upload type and upload your file.</h4>
      <div class="btn-group btn-group-justified">
        <a href="#" class="btn btn-primary" onclick="setMP3()">.mp3</a>
        <a href="#" class="btn btn-primary" onclick="setWAV()">.wav</a>
        <a href="#" class="btn btn-primary" onclick="setFLAC()">.m4a</a>
        <a href="#" class="btn btn-primary" onclick="reset()">reset</a>
      </div>
      <h1></h1>
      <form id="myForm" action ="/uploaderlocal" method ="POST" enctype="multipart/form-data">
        <input id ="format" name ='gcloudfile' type="file" style="width:200px" accept=".m4a" onclick="validateInput()">
        <h5></h5>
        <input type="checkbox" id="myCheck" onclick="displayEmail()">

        <label for="myCheck" style="color: white;">Want it emailed to you?</label>
        <h5 style="width:400px; display: none; text-align: center;" id="h5">Enter your email address</h5>
        <input type ="text" style="color: black; display: none;" id="email" name="email">
        <h5></h5>
        <input type="Submit" style="background-color:white; color:black;"
        value="Convert!" onclick="loading()">
      </form>
      <blink>
        <h3 id ="bigh3" style="display:none;" class="center">Loading... </h3>
      </blink>
    <img id="bigpic" src="/static/loading.gif" style="display: none;" width="150" height="150">
